html {
  background-color: #c9b5ab;
}

header nav:last-of-type {
  color: #8f2440;
  font-size: 1.125rem;
}

a:not(.current) {
  background-color: #8f2440;
}

h1 {
  font-family: "PT Serif";
  font-size: 1.5rem;
  line-height: 1.5;
}

h2 {
  font-size: 1.125rem;
  line-height: 1.5;
}

p {
  font-family: "PT Sans";
  font-size: .8rem;
  line-height: .8;
  font-weight: normal;
}

nav {
  list-style-type: lower-latin;
}

a {
  color: #fff000;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

img {
  width: 100%;
}
